[Desktop Entry]
Encoding=UTF-8
Name=Link to  A web page with some additional information about your LCD Link/URL
Type=Link
URL=https://moodle.msengineering.ch/mod/url/view.php?id=31074
Icon=text-html
